/*Body*/
body {
  color: rgb(60, 60, 60);
  font-family: "Roboto", sans-serif;
}

/*------------- Nav--------------- */

.topnav a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  float: left;
  margin: 2.2%;
  font-size: 18px;
}

.topnav {
  display: block;
  margin-top: -0.4%;
  margin-left: 34%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: 3px underline rgb(74, 165, 255);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#icon {
  float: left;
  margin-left: 9.2%;
  margin-top: 1.3%;
}

#search {
  float: right;
  margin-right: 12%;
  margin-top: -3%;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav a {
    display: none;
  }
  #search {
    display: none;
  }

  .topnav a.icon {
    float: left;
    display: inline-block;
  }
  .footerrow {
    display: none;
  }

  #icon {
    margin-right: 30%;
    float: right;
    display: block;
  }
  .topnav {
    margin: 0%;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*--------------------Home-----------------------------------*/
#homeicon {
  float: left;
  margin-top: 3.8%;
  margin-left: 40.8%;
  width: 18.2%;
}

.homenav {
  text-align: center;
  margin-top: 2.8%;
  margin-right: 1.8%;
}

.homenav a {
  font-size: 19px;
}

#homehero {
  width: 83%;
  margin-top: 4%;
  margin-left: 9.5%;
}
#section1body {
  margin-left: 9.5%;
  margin-top: 3%;
}

#subtitle1 {
  font-size: 20px;
}

#body1 {
  font-size: 18px;
  line-height: 1.8;
  text-overflow: ellipsis;
}

.category {
  color: gray;
  margin-top: 2%;
  font-family: "Roboto Mono", monospace;
}
.section2 {
  margin-left: 9.5%;
}
.bluehr {
  border-top: 4px solid #4285f4;
  width: 82%;
}
/*-------Section 2 -----------*/
.s2column {
  float: left;
  width: 50%;
}

.s2row:after {
  content: "";
  display: table;
  clear: both;
}

#newsfeed {
  font-size: 22px;
  margin-top: 2%;
}

.morenews {
  float: right;
  font-size: 16px;
  margin-top: -3.1%;
  margin-right: 11%;
  color: #1967d2;
  margin-left: 0%;
}

.date {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
}

.date1 {
  margin-top: 3.5%;
}
.title {
  margin-top: -0.5%;
  font-size: 24px;
}

#s2img1 {
  margin-top: -0.4%;
  width: 85%;
}

.s2column2 {
  margin-left: -6%;
}

.s2body1 {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

.s2bodyright {
  margin-top: -1.6%;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.4;
}

.s2right2 {
  margin-top: 6%;
}

.newsletter a {
  color: #1967d2;
}

.newsletter {
  margin-top: 8%;
  width: 80%;
  font-size: 17px;
  line-height: 1.6;
  background-color: rgb(242, 242, 242);
  padding: 3%;
  padding-left: 3.5%;
}

#mailicon {
  width: 12%;
  float: right;
  margin-right: 3%;
  margin-top: -6%;
}

/*------------Section 3---------*/
.section3 {
  margin-left: 9.5%;
}
.section3column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.section3row:after {
  content: "";
  display: table;
  clear: both;
}
.thumbnail {
  width: 85%;
}

.s3title {
  font-size: 24px;
  margin-top: 2%;
}

.subtitle {
  font-size: 16px;
  margin-top: -0.6%;
}

.thumbnailtop {
  margin-top: 4%;
}

.s3columnright {
  margin-left: -6%;
}

.thumbnail2 {
  width: 80%;
}

.bluehr2 {
  margin-top: 7%;
  margin-right: 21%;
  border-top: 4px solid #4285f4;
  width: 80%;
}

.s3title2 {
  font-size: 24px;
  margin-top: 3%;
  line-height: 1.4;
}
.profile {
  border-radius: 50%;
  width: 7%;
}

.profileinfo {
  float: right;
  margin-right: 60%;
}
/*-----------Section 4------------*/

.section4column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.section4row:after {
  content: "";
  display: table;
  clear: both;
}
.section4 {
  margin-left: 9.5%;
}
.s4title {
  font-size: 26px;
}
.s4subheader {
  margin-top: -1.4%;
  font-size: 24px;
}

.s4intro {
  margin-top: 6%;
  line-height: 1.6;
  font-size: 18px;
}

.s4thumbnail {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
.s4bodytitle {
  font-size: 24px;
  margin-top: 3%;
  line-height: 1.4;
  margin-left: 5%;
}
.s4body {
  margin-top:-2%;
  margin-left: 5%;
  font-size: 16px;
  line-height:1.4;
}

.s4category {
  margin-left: 5%;
  color: gray;
  margin-top: 2%;
  font-family: "Roboto Mono", monospace;
}

/*-------------------Error--------------------*/

.e404 {
  margin-top: 8%;
  margin-left: 9.2%;
  font-family: "Roboto", sans-serif;
  color: rgb(60, 60, 60);
}

#lost {
  margin-top: 16%;
}
/*------------- Footer--------------- */
hr {
  style: 2px solid gray;
}

* {
  box-sizing: border-box;
}

.footerrow h2 {
  font-size: 18px;
}
.footerrow {
  line-height: 1.8;
  font-size: 16px;
}
.footercolumn {
  float: left;
  padding: 10px;
  height: 300px;
}

.footerright,
.footermiddle {
  width: 12%;
}
.footerempty {
  width: 35%;
}
.footerleft {
  margin-left: 8.2%;
  width: 25%;
}

.footerrow:after {
  content: "";
  display: table;
  clear: both;
}

#footericon {
  width: 10%;
  padding-top: 20%;
}

.pnt {
  margin-left: 27%;
  margin-top: 57%;
}

.pnt a {
  text-decoration: none;
}
.pnt a:hover {
  text-decoration: underline;
}

.pnt a:visited {
  color: rgb(60, 60, 60);
}
/*----------------About----------------------*/
#future {
  margin-left: 9.2%;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  color: black;
}

#about {
  margin-left: 8.2%;
  padding: 16px;
  width: 85%;
}

.aboutbody {
  font-size: 18px;
  margin-left: 9.2%;
  line-height: 1.8;
}

.aboutbody a {
  color: #1967d2;
}

.aboutbody a:visited {
  color: #1967d2;
}
